In [1]:
#contoh list
L1 = [1, 4, 2, 13]

print(type(L1))

<class 'list'>

In [2]:
L2 = ['a', 'python', 3]
print(type(L2))

<class 'list'>

In [3]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

In [4]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["Lee Jeno"])
print(L1)

[1, 'dua', True, (2+3j), 'Lee Jeno']

In [5]:
#sifat-sifat List

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#dapat diiindeks/Slicing
print("Slicing List L1:", L1[3])

#dapat diijinkan duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("duplikasi pada list L1:", L1)

#dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2] = 3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("data setelah ditambahkan elemennya:", L1)

#dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 'dua', True]
List L1 setelah diganti elemennya: [1, 2, True, (2+3j), 'Lee Jeno']
Slicing List L1: (2+3j)
duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [8]:
#menambahkan data menggunakan fungsi extend (menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)

L1 = [1, "dua", True, 2+3j]
L1.extend("min yoongi")
print(L1)

[1, 'dua', True, (2+3j), 'm', 'i', 'n', ' ', 'y', 'o', 'o', 'n', 'g', 'i']

In [9]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["min yoongi"])
print(L1)

[1, 'dua', True, (2+3j), 'min yoongi']

In [10]:
#menambahkan data dengan fungsi insert (menambahkan elemen baru di List pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(4,7)
print(L1)

[1, 'dua', True, (2+3j), 7]

In [11]:
#menghapus elemen dari list menggunakan fungsi pop (menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(0)
print(L1)

['dua', True, (2+3j)]

In [12]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

Latihan

In [13]:
#1. Buatlah list kalian sendiri

L3 = [1, "satu", True, 3+5j]
print(L3)

[1, 'satu', True, (3+5j)]

In [14]:
#sifat-sifat list
print("Memanggil List L3 dengan indeks urutan:", L3[0:3])

L3[1] = 2
print("List L3 setelah diganti elemennya:", L1)

L3 = [1, "satu", True, 3+5j]

print("Slicing List L3:", L3[3])

L3 = [1, "satu", True, 3+5j]
print("duplikasi pada list L3:", L3)

L3 = [1, "satu", True, 3+5j]
L3[2] = 3
print("Data setelah diubah:", L3)

L3 = [1, "satu", True, 3+5j]
L3.append(10)
print("data setelah ditambahkan elemennya:", L3)

L3 = [1, "satu", True, 3+5j]
L3.remove(3+5j)
print("Data setelah dihapus elemennya:", L3)

Memanggil List L3 dengan indeks urutan: [1, 'satu', True]
List L3 setelah diganti elemennya: [1, 'dua', True]
Slicing List L3: (3+5j)
duplikasi pada list L3: [1, 'satu', True, (3+5j)]
Data setelah diubah: [1, 'satu', 3, (3+5j)]
data setelah ditambahkan elemennya: [1, 'satu', True, (3+5j), 10]
Data setelah dihapus elemennya: [1, 'satu', True]

In [15]:
L3 = [1, "satu", True, 3+5j]
L3.extend("Jeno")
print(L3)

L3 = [1, "satu", True, 3+5j]
L3.extend(["Jeno"])
print(L3)

L3 = [1, "satu", True, 3+5j]
L3.insert(1,6)
print(L3)

L3 = [1, "satu", True, 3+5j]
L3.pop(2)
print(L3)

[1, 'satu', True, (3+5j), 'J', 'e', 'n', 'o']
[1, 'satu', True, (3+5j), 'Jeno']
[1, 6, 'satu', True, (3+5j)]
[1, 'satu', (3+5j)]